.navbar {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    text-align: right;
    display: inline-block;
    z-index: 1;
    background-color: transparent;
    
}
.navbar a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}
.navbar nav li {
    padding: 10px;
    margin: 20px;
    list-style-type: none;
    display: inline-block;
}
.navbar nav img{
    position: relative;
    left: -400px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.wine-info p{
    font-size: 30px;
    font-family: chaucer;
    color: goldenrod;
    text-align: center;
}
.wine-info .info{
    font-size: 20px;
    font-family: chaucer;
    color: #fff;
    text-align: center;

}
.reservations{
    text-align: center;
    font-family: chaucer;
    color: aliceblue;
    font-size: 20px;
    margin: 0;
}
button{
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
button:hover{
    background-color: #765987;
    color:aliceblue;

}
.info{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-family: chaucer;
}
.follow-us{
    text-align: center;
    text-transform: capitalize;
    color: goldenrod;
    font-family: chaucer;
}
.social-icons{
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons li{
    display: inline-block;
    margin: 0 10px;
}
.social-icons li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    background-color: #111;
}
.social-icons li a:hover{
    background-color: #666;
}
.social-icons li a i{
    font-size: 20px;
}
.flex-container{
    background-image: url(dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    display: flex;
    grid-gap: 300px;                 

} 
.reach{
    text-align: left;
    color: aliceblue;
    font-size: 20px;
    font-family: chaucer;
}     
.flex nav
{
    color: aliceblue;
    font-size: 20px;
}
.socialIcon{
    color:aliceblue;
}
i{
    color: aliceblue;
}
.location{
    color: aliceblue;
    font-family: chaucer;
    font-size: 20px;

}
.hours{
    color: aliceblue;
    font-family: chaucer;
    font-size: 20px;
}
.links{
    color: aliceblue;
    font-family: chaucer;
    font-size: 20px;
}
.links a{
    color: aliceblue;
}
.jus-links:hover{
    color: goldenrod;
}
.dropdown-content a:hover{
    color: goldenrod;
}
.body-dd{
    background-image: url(cocktail6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.info-dd p{
    font-family: chaucer;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    margin-top: 80px;

}
.menu-1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.menu-1a{
    justify-content: flex-start;
}
.menu-1b{
    justify-content: flex-end;}
.menu h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: goldenrod;
  }
  
.menu-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
  
.menu h2 {
    color: aliceblue;
    font-size: 22px;
    margin-bottom: 10px;
}
.menu p{
    color: aliceblue;
    font-size: 16px;
}
.pics{
    background-image: url(dark.jpg);
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
