li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    text-align: left;
}
    
.menu{
    background-color: #cfdbe26c;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
    
body{
    background-color: #e9e3e6;
    text-decoration: none;

}
button{
    padding: 1px;
    border-radius: 1px;
    box-shadow: 2px 2px 2px 1px rgb(131, 131, 219) ;
    border: 1px solid gray;
    font-size: 15px;
   }
button:hover{
    background-color: rgb(14, 77, 214);
    color: rgb(241, 244, 247);
   }