li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    text-align: left;
}
    
.menu{
    background-color: #cfdbe26c;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
    
body{
    background-color: #e9e3e6;
    text-decoration: none;

}
